body{
    position: relative;
    background: url('../images/happy-colorful-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin-top: 5%;
    margin-left: 15%;
    position: absolute;
    height: 80vh;
    background: url('../images/cinderella-background.jpg');
    background-size: cover;
    border-radius: 15px;
}

header{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: rgba(255, 255, 255, 0.952);
}

.btn{
    width: 50%;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    margin-left: 25%;
    margin-top: 25%;
}

.timer{
    font-size: 25px;
}